/* FONT DECLARATION */
@font-face{
    font-family: 'Technor-Bold';
    src: url('/resources/fonts/Technor-Bold.woff2') format('woff2');
}

* {
    font-family: 'Technor-Bold';
}



body {
    background: linear-gradient(135deg, #aee5ec 0%, #e8b460 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.chondog img{
    float:left;
    padding-top:10px;
    padding-left:40px;
    margin-bottom: 10px;
    width:65px;
    height:65px;
}

.header{
    background-color: bisque;
    padding-top: 25px
}

/* NAVIGATION BAR STYLING */
.navigation{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position:sticky;
    top:0;
    background: rgba(214, 154, 79, 0.2);
    backdrop-filter: blur(10px);
    overflow: auto;
}

nav ul{
    float:right;
    margin-right:60px;
    margin-top: 20px;
}

nav li{
    display:inline-block;
    line-height:45px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size:20px;
    text-transform:uppercase;
    text-decoration:none;
}

/* ATTACHMENT REACTIVE STYLING */

a{
    color:black;
    text-decoration: none;
    transition:0.5s;
}

a:hover{
    color:rgb(214, 154, 79);
    text-decoration:none;
}