/*================
=Project Styling=
===============*/
@font-face{
    font-family: 'Technor-Bold';
    src: url('/resources/fonts/Technor-Bold.woff2') format('woff2');
}
@font-face{
    font-family: 'Technor-Black';
    src: url('/resources/fonts/Technor-Black.woff2') format('woff2');
}
@font-face{
    font-family: 'Technor-Medium';
    src: url('/resources/fonts/Technor-Medium.woff2') format('woff2');
}
*:not(.logo-text,.name,.subheading) {
    font-family: 'Technor-Bold';
}
:root{
    --card: rgba(255,255,255,0.2);
    --border: rgba(174, 229, 236, 0.3);
}
html{
    scroll-behavior: smooth;
}
/* */


/*================
=Hides scrollbar=
===============*/
*::-webkit-scrollbar{
    display:none;
}

*{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* */


/*=============
=Body Styling=
===========*/
body {
    position:relative;
    background: linear-gradient(135deg, #aee5ec 0%, #e8b460 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top:40px;
}

.pattern-overlay {
    position: fixed;
    inset: 0;

    background-image: url('./resources/images/pawtreat-white.png');
    background-size: cover;
    background-position: center;

    pointer-events: none;
    z-index:-1;
    opacity: 1;

    mask-image: radial-gradient(
        circle 50px at var(--x) var(--y),
        black 0%,
        transparent 100%
    );

    -webkit-mask-image: radial-gradient(
        circle 50px at var(--x) var(--y),
        black 0%,
        transparent 100%
    );
}
/* */


/*=============
=home styling=
===========*/
.chondog{
    display: inline-flex;
    align-items: center;
    padding-left: 80px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.chondog img{
    width:65px;
    height:65px;
}

.logo-text{
    margin-left:10px;
    font-size:25px;
    color: black;
    font-family: 'Technor-Black';
}

.name{
    font-family: 'Technor-Black';
    font-size: 50px;
    background-image: linear-gradient(90deg,rgba(8, 8, 7, 1) 0%, rgba(54, 125, 119, 1) 50%, rgba(23, 23, 22, 1) 100%);
    --webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    white-space: nowrap;
}
.subheading{
    font-family: 'Technor-Medium';
    font-size:1.5rem;
}
.tagline{
    font-family: 'Technor-Medium';
    font-size:1rem;
}


/*================
=Calls to Action=
==============*/
.ctabuttons{
    display:flex;
    gap: 1rem;
    margin: 2rem auto 0;
    height:4rem;
    line-height: 2vh;
    white-space: normal;
}

.cta1, .cta2{
    background:rgba(255,255,255,0.3);
    font-size:1rem;
    border-radius:15px;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 0.9rem 1.4rem;
    display:inline-flex;
    align-items:center;
    justify-content: center;
}


.cta1:hover{
    transform: translateY(-2px);
}
.cta2:hover{
    transform: translateY(-2px);
}

/* */


/*=======================
=NAVIGATION BAR STYLING=
=====================*/
.navigation{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    min-width:100vw;
    position:fixed;
    top:0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    overflow: auto;
    border-radius: 10px;
    z-index: 100;
}
nav ul{
    float:right;
    margin-right:185px;
    margin-top: 20px;
}
nav li{
    display:inline-block;
    line-height:45px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size:15px;
    text-transform:uppercase;
    text-decoration:none;
}

/*====================
===Burger Styling ===
==================*/
.burger{
    display:none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transition: 0.3s;
}

@media screen and (max-width: 940px) {
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        padding: 10px 20px;
    }

    nav ul {
        display: flex;
        
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;

        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;

        overflow:hidden;
        max-height: 0;
        opacity: 0;
        transform: translateY(-5px);

        transition:
            max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;

        pointer-events: none;
    }

    .navigation.active ul {
        max-height: 300px;
        opacity:1;
        transform: translateY(0);

        pointer-events: auto;
    }

    nav li {
        width: 100%;
        text-align: center;
        margin: 8px 0;
    }

    .burger {
        display: block; /*burger*/
    }

    .chondog img {
        width: 48px;
        height: 48px;
    }

    .logo-text {
        font-size: 16px;
        margin-left: 8px;
    }
}
/* */


/*=============================
==ATTACHMENT REACTIVE STYLING=
===========================*/

a{
    color:black;
    text-decoration: none;
    transition:0.5s;
}
a:hover{
    color:rgb(214, 154, 79);
    text-decoration:none;
}

/*Content styling*/
.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2.5rem 5rem;
    min-height:100vh;
    box-sizing: border-box;
}
.text{
    flex:1;
}

/*==============
 ABOUT ME PAGE 
 ===============*/
.about{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width:100%;
    gap:2.5rem;
    padding:5rem;
    box-sizing:border-box;
    border-top: 2px solid rgba(255,255,255,0.2)
}

.about h1{
    font-family: 'Technor-Black';
    font-size: 1.75rem;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 26%, rgba(54, 125, 119, 1) 90%);
    --webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    padding-top:1.5rem;
}

.aboutbox{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    flex-wrap:wrap;
}

.aboutleft{
    flex: 1 1 600px;
    min-width: 320px;
}
.aboutright{
    flex: 1 1 350px;
    min-width: 300px;

    background-color: rgba(255,255,255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 25px;;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

    padding: 2rem;
    align-self: flex-start;
}
.aboutright h3{
    font-family: 'Technor-Bold';
    font-size: clamp(1.4rem, 2vw, 2rem);

    margin-bottom: 1rem;

    background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 26%, rgba(54, 125, 119, 1) 90%);
    --webkit-background-clip: text;
    background-clip:text;
    color: transparent;
}
.aboutright p{
    font-family: 'Technor-Bold';
    font-size: clamp(1rem, 1.5vw, 1.35rem);
    line-height: 1.6;
    margin-bottom: 0.6rem;
    word-break:break-word;
}

.self{
    font-family:'Technor-Medium';
    font-size: 2rem;
}
.goal{
    font-family:'Technor-Medium';
    font-size: 1.875rem;
    opacity: 70%;
}

.skills{
    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items: flex-start;
}
.soft{
    text-align: left;
    font-size:1.8rem;
}
.skillrow{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: flex-start;
}
.skillbox{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
    min-width: 180px;
}
.skilldesc{
    text-align: center;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    font-family: 'Technor-Medium';
    font-size: 0.9rem;
    gap:4rem;
    max-width: 140px;
}
.icon:not(#team){
    height: clamp(2.5rem, 6vw, 4rem);
    width: clamp(2.5rem, 6vw, 4rem);
    object-fit: contain;
    
}
#team{
    height: clamp(2.5rem, 8vw, 6rem);
    width: clamp(2.5rem, 8vw, 6rem);
}

@media screen and (max-width:940px){
    .about{
        padding: 4rem 1.5rem;
        gap: 2rem;
    }
    .aboutbox{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .aboutleft,.aboutright{
        width:100%;
    }

    .self{
        font-size: 1.4rem;
        line-height: 1.6;
        text-align: center;
    }
    .goal{
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: center;
    }
    .skills{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        width:100%;
    }
    .skillbox{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .aboutright{
        padding: 1.5rem;
        min-height: auto;
    }

    .aboutright h4{
        font-size: 1.5rem;
        padding:0;
        margin-bottom: 1rem;
        text-align:center;
    }

    .aboutright p{
        font-size: 1rem;
        padding-left: 0;
        line-height: 1.5;
        text-align: center;
        word-break: break-word;
    }
}

/*=======================
====Projects Section====
======================*/
.projects{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width:100%;
    gap:2.5rem;
    padding:5rem;
    box-sizing:border-box;
    border-top: 2px solid rgba(255,255,255,0.2)
}

.projects h4{
    font-family: 'Technor-Black';
    font-size: 24px;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 26%, rgba(54, 125, 119, 1) 90%);
    --webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    padding-top:25px;
}
.projects p{
    font-family: 'Technor-Medium';
    font-size: 1rem;
    margin-top: -65px;
    opacity:0.9;
    white-space: nowrap;

}
.projectgrid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}
.projectcard{
    display:flex;
    flex-direction: column;
    position: relative;
    overflow:hidden;
    border: 2px solid var(--border);
    backdrop-filter: blur(16px);
    background: var(--card);
    border-radius: 24px;
    transition:transform 0.15s ease;
    padding-bottom: 1rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);

    transform-style: preserve-3d;
    will-change: transform;
}

.projectcard::after{
    content:'';
    position:absolute;
    inset:0;

    background: linear-gradient(
        120deg,
        transparent 30%,
        rgba(255,255,255,0.15),
        transparent 70%
    );

    opacity:0;
    transition: opacity 0.3s;
    pointer-events:none;
}

.projectcard:hover::after{
    opacity:1;
}

.cardcontent, .tags, .imagewrap{
    transform:translateZ(40px)
}

.overlay{
    position:absolute;
    inset:0;
    background: rgba(54, 125, 119, 0.3);

    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    opacity:0;
    transition: 0.5s ease;

}
.overlay a{
    text-decoration: none;
    color: white;
    background:rgba(205, 183, 74, 1);

    padding: 0.8rem 1.2rem;
    border-radius: 12px;
}


.projectcard:hover .overlay{
    opacity: 1;
}
.cardcontent{
    padding:1.6rem;
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.projectname{
    font-size:1.4rem;
    font-weight: 700;
    margin-bottom:0.8rem;
}
.projectdesc{
    margin-bottom:1.4rem;
    font-size:1rem;
    font-family:'Technor-Medium';
}

.imagewrap{
    position:relative;
    overflow:hidden;
}
.imagewrap img{
    width:100%;
    height:220px;
    object-fit: cover;
    display:block;
    transition: transform 0.5s ease;
}
.imagewrap:hover img{
    transform: scale(1.05);
}

.tags{
    display:flex;
    flex-wrap: wrap;
    gap:0.6rem;
    margin-left: 1.2rem;
}
.tag{
    background-color: rgba(240, 78, 72, 0.176);
    padding: 0.45rem 0.85rem;
    border-radius: 999px;
    font-size:0.8rem;
    border: 1px solid rgba(205, 183, 74, 0.4);
}
@media screen and (max-width:940px) {
    .projects{
        padding: 60px 5%;
    }

    .projects h4{
        font-size: 2.2rem;
    }

    .imagewrap{
        height:200px;
    }
    
}

/*==================
==Contact Styling==
================*/
.contact{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width:100%;
    gap:2.5rem;
    padding:5rem;
    box-sizing:border-box;
    border-top: 2px solid rgba(255,255,255,0.2)
}

.contact h4{
    font-family: 'Technor-Black';
    font-size: 24px;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 26%, rgba(54, 125, 119, 1) 90%);
    --webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    padding-top:25px;
}
.contact p{
    font-family: 'Technor-Medium';
    font-size: 1rem;
    margin-top: -65px;
    opacity:0.9;
    white-space: nowrap;
}

/*==================
==Credits Section==
================*/
.credits{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width:100%;
    gap:2.5rem;
    padding:5rem;
    box-sizing:border-box;
    border-top: 2px solid rgba(255,255,255,0.2)
}
.credits h4{
    font-family: 'Technor-Black';
    font-size: 24px;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 26%, rgba(54, 125, 119, 1) 90%);
    --webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    padding-top:25px;
}

/*==================
===image styling===
=================*/
.profilecontainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.profilepic{
    width:80vh;
    max-width: 80%;
    max-height: 80vh;
    height:auto;
    object-fit: cover;
    border-radius:25px;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.profilepic:hover{
    transform: translateY(-10px);
}
.hint{
    margin-top:10px;
    font-size:10px;
    opacity:0.1;
}


/*=============================
=This is for the Hero Section=
===========================*/
@media (max-width:940px){
    .container{
        flex-direction: column;
        text-align: center;
    }
    .text{
        width: 100%;
    }
    .name{
        font-size: clamp(2rem, 6vw, 4rem);
        white-space: normal;
        line-height: 4;
    }
    .subheading{
        font-size: 1.8rem;
        line-height: 1.5;
    }
    .tagline{
        font-size: 1.2rem;
    }
    .profilepic{
        opacity:0;
        transform: scale(0.9);
        pointer-events: none;
        width:80%;
    }
    .hint{
        opacity:0;
    }

    
    .ctabuttons{
        display:block;
        margin:0 auto;
        white-space: nowrap;
    }
    .cta1, .cta2{
        width:40%;
        max-width: 280px;
        margin-top:2rem;
        gap: 2rem;
        height: 4rem;
    }
}

/*================
==imagebuttons===
==============*/
.player{
    width:45px;
    height:45px;
    padding-left:75px;
}



/*==================
==footer settings==
=================*/
.footer{
    position:sticky;
    bottom:0;
    min-height: 5em;
}