/* FONT DECLARATION */
@font-face{
    font-family: 'Technor-Bold';
    src: url('/resources/fonts/Technor-Bold.woff2') format('woff2');
}

* {
    font-family: 'Technor-Bold';
}



body {
    background: linear-gradient(135deg, #aee5ec 0%, #e8b460 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.chondog img{
    float:left;
    padding-top:10px;
    padding-left:185px;
    margin-bottom: 10px;
    width:65px;
    height:65px;
}

.header{
    background-color: bisque;
    padding-top: 25px
}

/* NAVIGATION BAR STYLING */
.navigation{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position:sticky;
    top:0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    overflow: auto;
    border-radius: 10px;
    z-index: 100;
}

nav ul{
    float:right;
    margin-right:185px;
    margin-top: 20px;
}

nav li{
    display:inline-block;
    line-height:45px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size:15px;
    text-transform:uppercase;
    text-decoration:none;
}

/* ATTACHMENT REACTIVE STYLING */

a{
    color:black;
    text-decoration: none;
    transition:0.5s;
}

a:hover{
    color:rgb(214, 154, 79);
    text-decoration:none;
}

/*Content styling*/
.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:100px;
}

.text{
    flex:1;
}
/*image styling*/
.profilepic{
    width:475px;
    max-width: 100%;
    height:auto;
    border-radius:25px;
    flex:1;
    transition: transform 0.3s ease;
}

.profilepic:hover{
    transform: translateY(-10px);
}

@media (max-width:768px){
    .container{
        flex-direction: column;
        text-align: center;
    }

    .profilepic{
        opacity:0;
        transform: scale(0.9);
        pointer-events: none;
        width:80%;
    }
}